@font-face {
    font-family: 'IranSans';
    src: url('/public/fonts/IranianSans.ttf')
    format('truetype');
    font-weight: normal;
    font-style: normal;
}
/* BEGIN Bold */
@font-face {
	font-family: 'IranianSansBold';
	src: url('/public/fonts/IranianSansBold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
/* END Bold */
/* BEGIN Regular */
@font-face {
	font-family: 'IranianSans';
	src: url('/public/fonts/IranianSansRegular.ttf') format('truetype'),
		 url('/public/fonts/IRANSans-web.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Dubai-Regular';
	src: url('/public/fonts/Dubai-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
/* END Regular */